TestApps/ConsoleApp10 work/ConsoleApp10/Connected Services/AdminCoreServiceTestReference/TedisNet1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sitel.TedisNet.Admin.AdminService" elementFormDefault="qualified" targetNamespace="http://Sitel.TedisNet.Admin.AdminService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MyTestMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTestMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyTestMethodResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>