IsotrolClient/Isotrol/Connected Services/IsotrolServiceReference/MeterReadings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:m="http://www.isotrol.com/STG-CIDE/2013/MeterReadings#" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:d="http://www.isotrol.com/STG-CIDE/2013/Devices#" xmlns="http://langdale.com.au/2005/Message#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.isotrol.com/STG-CIDE/2013/MeterReadings#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Devices.xsd" namespace="http://www.isotrol.com/STG-CIDE/2013/Devices#" />
  <xs:element name="MeterReadings" type="m:MeterReadings" />
  <xs:complexType name="MeterReadings">
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading" minOccurs="0" maxOccurs="unbounded" name="MeterReading" type="m:MeterReading" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType" minOccurs="0" maxOccurs="unbounded" name="ReadingType" type="m:ReadingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading" name="MeterReading">
    <xs:annotation>
      <xs:documentation>Set of values obtained from the meter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://www.isotrol.com/STG-CIDE/2013/Devices#Meter" minOccurs="1" maxOccurs="1" name="Meter" type="d:Meter" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading" minOccurs="1" maxOccurs="unbounded" name="Readings" type="m:Readings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading" name="Readings">
    <xs:annotation>
      <xs:documentation>Specific value measured by a meter or other asset,
				or calculated by a system. Each Reading is associated with a
				specific ReadingType.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeasurementValue.timeStamp" minOccurs="0" maxOccurs="1" name="timeStamp" type="xs:dateTime" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.value" minOccurs="0" maxOccurs="1" name="value" type="xs:float" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading.ReadingQualities" minOccurs="0" maxOccurs="unbounded" name="ReadingQualities">
        <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality">
          <xs:sequence>
            <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.quality" minOccurs="1" maxOccurs="1" name="quality" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading.ReadingType" minOccurs="1" maxOccurs="1" name="ReadingType">
        <xs:complexType sawsdl:modelReference="">
          <xs:attribute name="ref" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality" name="ReadingQuality">
    <xs:annotation>
      <xs:documentation>Quality of a specific reading value or interval
				reading value. Note that more than one quality may be applicable to
				a given reading. Typically not used unless problems or unusual
				conditions occur (i.e., quality for each reading is assumed to be
				good unless stated otherwise in associated reading quality type). It
				can also be used with the corresponding reading quality type to
				indicate that the validation has been performed and succeeded.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.quality" minOccurs="1" maxOccurs="1" name="quality" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Detailed description for a quality of a reading
						value, produced by
						an end device or a system. Values in attributes
						allow for creation
						of recommended codes to be used for identifying
						reading value
						quality codes as follows:
						&lt;systemIdd&gt;.&lt;categoryd&gt;.&lt;subCategoryd&gt;.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType" name="ReadingType">
    <xs:annotation>
      <xs:documentation><![CDATA[Detailed description for a type of a reading value.
				Values in attributes allow for creation of recommended codes to be
				used for identifying reading value types as follows:
				&lt;macroPeriod&gt;.&lt;aggregate&gt;.&lt;measuringPeriod&gt;.&lt;accumulation&gt;.&lt;flowDirection&gt;.&lt;commodity&gt;.&lt;measurementKind&gt;.&lt;interharmonic.numerator&gt;.&lt;interharmonic.denominator&gt;.&lt;argument.numerator&gt;.&lt;argument.denominator&gt;.&lt;tou&gt;.&lt;cpp&gt;.&lt;consumptionTier&gt;.&lt;phases&gt;.&lt;multiplier&gt;.&lt;unit&gt;.&lt;currency&gt;.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.aliasName" minOccurs="0" maxOccurs="1" name="aliasName" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.defaultQuality" minOccurs="0" maxOccurs="1" name="defaultQuality" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.kind" minOccurs="0" maxOccurs="1" name="kind">
        <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingKind">
          <xs:restriction base="xs:string">
            <xs:enumeration value="current" />
            <xs:enumeration value="currentAngle" />
            <xs:enumeration value="date" />
            <xs:enumeration value="demand" />
            <xs:enumeration value="energy" />
            <xs:enumeration value="other" />
            <xs:enumeration value="phaseAngle" />
            <xs:enumeration value="power" />
            <xs:enumeration value="powerFactor" />
            <xs:enumeration value="pressure" />
            <xs:enumeration value="time" />
            <xs:enumeration value="voltage" />
            <xs:enumeration value="voltageAngle" />
            <xs:enumeration value="volume" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.multiplier" minOccurs="0" maxOccurs="1" name="multiplier">
        <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UnitMultiplier">
          <xs:restriction base="xs:string">
            <xs:enumeration value="G" />
            <xs:enumeration value="M" />
            <xs:enumeration value="T" />
            <xs:enumeration value="c" />
            <xs:enumeration value="d" />
            <xs:enumeration value="k" />
            <xs:enumeration value="m" />
            <xs:enumeration value="micro" />
            <xs:enumeration value="n" />
            <xs:enumeration value="none" />
            <xs:enumeration value="p" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.unit" minOccurs="0" maxOccurs="1" name="unit">
        <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UnitSymbol">
          <xs:restriction base="xs:string">
            <xs:enumeration value="A" />
            <xs:enumeration value="F" />
            <xs:enumeration value="H" />
            <xs:enumeration value="Hz" />
            <xs:enumeration value="Hz-1" />
            <xs:enumeration value="J" />
            <xs:enumeration value="J/s" />
            <xs:enumeration value="N" />
            <xs:enumeration value="Pa" />
            <xs:enumeration value="S" />
            <xs:enumeration value="V" />
            <xs:enumeration value="V/VAr" />
            <xs:enumeration value="VA" />
            <xs:enumeration value="VAh" />
            <xs:enumeration value="VAr" />
            <xs:enumeration value="VArh" />
            <xs:enumeration value="W" />
            <xs:enumeration value="W/Hz" />
            <xs:enumeration value="W/s" />
            <xs:enumeration value="Wh" />
            <xs:enumeration value="deg" />
            <xs:enumeration value="g" />
            <xs:enumeration value="h" />
            <xs:enumeration value="kg/J" />
            <xs:enumeration value="m" />
            <xs:enumeration value="m2" />
            <xs:enumeration value="m3" />
            <xs:enumeration value="min" />
            <xs:enumeration value="none" />
            <xs:enumeration value="ohm" />
            <xs:enumeration value="rad" />
            <xs:enumeration value="s" />
            <xs:enumeration value="s-1" />
            <xs:enumeration value="ºC" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>