IsotrolClient/Isotrol/Connected Services/IsotrolServiceReference/STG_WS_Sitel-soapui-project.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns="http://iec.ch/TC57/2011/abstract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://iec.ch/TC57/2011/schema/message" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://iec.ch/TC57/2011/abstract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://iec.ch/TC57/2011/schema/message">
      <xsd:include schemaLocation="XSD/Message.xsd" />
      <xsd:element name="PublishEvent" type="ns2:EventMessageType" />
      <xsd:element name="Request" type="ns2:RequestMessageType" />
      <xsd:element name="Response" type="ns2:ResponseMessageType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EventMessage">
    <wsdl:part name="Message" element="ns2:PublishEvent" />
  </wsdl:message>
  <wsdl:message name="RequestMessage">
    <wsdl:part name="Message" element="ns2:Request" />
  </wsdl:message>
  <wsdl:message name="ResponseMessage">
    <wsdl:part name="Message" element="ns2:Response" />
  </wsdl:message>
  <wsdl:portType name="Operations">
    <wsdl:operation name="PublishEvent">
      <wsdl:input message="ns:EventMessage" />
      <wsdl:output message="ns:ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestMessage">
      <wsdl:input message="ns:RequestMessage" />
      <wsdl:output message="ns:ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResponseMessage">
      <wsdl:input message="ns:ResponseMessage" />
      <wsdl:output message="ns:ResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAP" type="ns:Operations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishEvent">
      <soap:operation soapAction="http://iec.ch/61968/PublishEvent" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMessage">
      <soap:operation soapAction="http://iec.ch/61968/Request" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponseMessage">
      <soap:operation soapAction="http://iec.ch/61968/Response" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="SOAP" binding="ns:SOAP">
      <soap:address location="http://iec.ch/61968/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>